---
---

@import "{{ site.theme }}";

@mixin sm {
    @media only screen and(max-width: 600px) {
        @content;
    }
}

$base-color: #90a959;
$border-dark: rgba($base-color, 0.2);
$border-darker: rgba($base-color, 0.8);

.hover-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid $border-dark;
    width: 20%;
    justify-content: center;
    padding: 0.5em 0;
    background-color: transparent;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: transparent;
        height: 100%;
        transition: all 0.5s;
        z-index: -2;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background: $border-darker;
        height: 100%;
        transition: all 0.5s;
        z-index: -2;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover:after {
        width: 100%
    }

    &:hover::before {
        width: 100%;
    }

    @include sm {
        width: 85%;
    }
}

.nav-link {
    width: 35vw;
    @include sm {
        width: 85%;
    }
}

.notextdecor-white {
    text-decoration: none;
    color: white;
}

#show-ans {
    color: white;
    visibility: hidden;
}
